<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732909631905-7i921jceeukqe0b92j09e9e616k4rh68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732909631905-7i921jceeukqe0b92j09e9e616k4rh68</string>
	<key>API_KEY</key>
	<string>AIzaSyAko5M7ibUZSmgbPj8h2FOIqgKB9_fQorA</string>
	<key>GCM_SENDER_ID</key>
	<string>732909631905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amineelmouradi.brandNameVote</string>
	<key>PROJECT_ID</key>
	<string>brand-names</string>
	<key>STORAGE_BUCKET</key>
	<string>brand-names.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732909631905:ios:0268c959c251a676</string>
	<key>DATABASE_URL</key>
	<string>https://brand-names.firebaseio.com</string>
</dict>
</plist>